{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOTICIAS{% endblock titulo %}


{% block contenido %}
		<div class= "noticias">
			<img src="{{noticia.imagen.url}}" width="500" height="500">
			
			<h1>{{noticia.titulo}}</h1>
			
			<p>{{noticia.fecha}}</p>
			<p>CATEGORIA: {{noticia.categoria_noticia}}</p>
			<p>{{noticia.cuerpo}}</p>
			<br><br>
			
			<br><br>
			<h1>COMENTARIOS</h1>
			<form method="POST" action="{% url 'noticias:comentar' %}" class="comentario-form">
				{% csrf_token %}
				<textarea name="comentario" maxlength="1500" placeholder="Escribe tu comentario"></textarea>
				<input type="text" name="id_noticia" value="{{noticia.pk}}" hidden=""> 
				<input type="submit" value="GUARDAR">
			</form>

			<div class="comentarios">
				{% for com in comentarios %}
					{% if user == com.usuario %}
						<h4><a href="">Borrar</a></h4>
					{% endif %}
					<div class="comentario">
						<strong>FECHA:{{com.fecha}}</strong><br>
						<strong>USUARIO:{{com.usuario}}</strong><br>
						<p>{{com.texto}}</p>
					</div>
				{% endfor %}
			</div>	
			<a href="{% url 'noticias:listar' %}">VOLVER</a>
		</div>	
{% endblock contenido %}

