{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOTICIAS{% endblock titulo %}


{% block contenido %}
	<div class="submenu">

		<a href="{% url 'noticias:listar' %}">TODAS</a>
		{% for cat in categorias %}
			<a href="?id={{cat.pk}}">{{cat.nombre}}</a>
		{% endfor %}

	</div>

	<div class="filtro-noticias">
        <form method="get">
            <label>Filtrar por:</label>
            <select name="filtro">
                <option value="">Ninguno</option>
                <option value="antiguedad_asc">Antigüedad (asc)</option>
                <option value="antiguedad_desc">Antigüedad (desc)</option>
                <option value="alfabetico_asc">Orden alfabético (asc)</option>
                <option value="alfabetico_desc">Orden alfabético (desc)</option>
            </select>
            <input type="submit" value="Filtrar">
        </form>
    </div>
	

	{% for noti in noticias %}
		<div class= "noticias">
			<img src="{{noti.imagen.url}}" width="400" height="400">
			
			<h1><a href="{% url 'noticias:detalle' noti.pk %}">{{noti.titulo}}</a></h1>
			
			<p>{{noti.fecha}}</p>
			<p>CATEGORIA: {{noti.categoria_noticia}}</p>
			
			<br><br>
		</div>	
		
	{% endfor %}
{% endblock contenido %}

