{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOTICIAS{% endblock titulo %}


{% block contenido %}
	<div class="submenu">

		<a href="{% url 'noticias:listar' %}">TODAS</a>
		{% for cat in categorias %}
			<a href="?id={{cat.pk}}">{{cat.nombre}}</a>
		{% endfor %}

	</div>

	

	{% for noti in noticias %}
		<div class= "noticias">
			<img src="{{noti.imagen.url}}" width="400" height="400">
			
			<h1><a href="{% url 'noticias:detalle' noti.pk %}">{{noti.titulo}}</a></h1>
			
			<p>{{noti.fecha}}</p>
			<p>CATEGORIA: {{noti.categoria_noticia}}</p>
			
			<br><br>
		</div>	
		
	{% endfor %}
{% endblock contenido %}

