<div class = "footerh1">
    <h1>CONTACTANOS:</h1> <br>
</div>


<div class="footers-m">
    <div class="contacto">
        <h3>MAXIMILIANO URIEL SOSA</h3>
        <p>3624268335</p>
        <p>Instagram: @maxi_sosa_1</p>
        <p>maximora470@gmail.com</p>
        <p>Linkedin: link</p>
    </div>
    <div class="contacto">
        <h3>BRAIAN CRESCITELLI</h3>
        <p>3624268335</p>
        <p>Instagram: @maxi_sosa_1</p>
        <p>maximora470@gmail.com</p>
        <p>Linkedin: link</p>
    </div>
</div>

