<div class = "footerh1">
    <h1>CONTACTANOS:</h1> <br>
</div>


<div class="footers-m">
    <div class="contacto">
        <h3>MAXIMILIANO URIEL SOSA</h3>
        <p><i class="fas fa-phone"></i> 3624268335</p>
        <p><i class="fab fa-instagram"></i> <a href="https://www.instagram.com/maxi_sosa_1" target="_blank">@maxi_sosa_1</a></p>
        <p><i class="far fa-envelope"></i> <a href="mailto:maximora470@gmail.com">maximora470@gmail.com</a></p>
        <p><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/tu_perfil_linkedin" target="_blank">link</a></p>
    </div>
    <div class="contacto">
        <h3>BRAIAN CRESCITELLI</h3>
        <p><i class="fas fa-phone"></i> 3624268335</p>
        <p><i class="fab fa-instagram"></i> <a href="https://www.instagram.com/maxi_sosa_1" target="_blank">@maxi_sosa_1</a></p>
        <p><i class="far fa-envelope"></i> <a href="mailto:maximora470@gmail.com">maximora470@gmail.com</a></p>
        <p><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/tu_perfil_linkedin" target="_blank">link</a></p>
    </div>
</div>

