

@font-face {
    font-family: 'Conthrax';
    src: url('../fonts/conthrax-sb.otf');
}
@font-face {
	font-family: 'nulshock bd';
	src: url('../fonts/nulshock\ bd.otf');
}

:root {
	--color-primary: #91CCDB;
	--color-secundary: #ADAAB0;
	--color-text: #EEEFEE;
	--font-text: 'Conthrax'; 
	--font-text2: 'nulshock bd';
	--color-titles: #FF5733;
	--color-subtitles: #4285F4;
}


/* Original */


.bloque{
	text-align: center;
	padding: 100px;
	background-color: var(--color-text);
	min-height: 50vh
}
.submenu{
	font-size: 18px	;
}

/* End Original*/


/*Menu de navegación*/

.headers {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font-text);
	background-color: var(--color-primary);
}

.headers h2{
	color: #000;
}

.headers img {
    margin-right: 10px; 
}

.enlace_nav {
    margin-left: 25vw;
	
	
}

.enlace_nav a {
    text-decoration: none;
    color: #000; 
	margin-right: 12px;
}

.enlace_nav a:hover {
    color: var(--color-text);
	transition: color 0.4s ease; 
}

enlace_nav strong,
.enlace_nav a[href*="login"]:hover,
.enlace_nav a[href*="registro"]:hover {
    color: var(--color-text); 
    transition: color 0.4s ease; 
}

/* End Menú de navegación */


/* Footer */

footer{
	background-color: var(--color-primary);
}

.footerh1{
	display: flex;
	font-family: var(--font-text);
	font-size: 12px;
	margin-left: 0px;
	margin-top: 0px;
}

.footerh1 h1{
	padding: 15px;
	color: var(--color-titles);
}

.footers-m{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--font-text);
	margin-top: 0px;
}

.footers-m h3{
	font-size: 16px;
	margin-left: 50px;
	color: var(--color-subtitles);
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.contacto p{
	font-size: 12px;
	margin-left: 50px;

}

.contacto a {
    text-decoration: none;
    color: #000;
    margin-right: 12px;
}

.contacto a:hover {
    color: var(--color-text);
    transition: color 0.4s ease;
}

/* End Footer */

/* Nosotros section */

.nosotros {
    text-align: left;
    padding: 20px;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
	margin-bottom: 30px;
}

.nosotros h1, .nosotros h2 {
    font-family: var(--font-text);
    margin-bottom: 15px;
    color: var(--color-text);
	letter-spacing: 1px;
}

.nosotros p {
    margin-bottom: 15px;
    font-family: var(--font-text2);
    color: var(--color-text);
	word-spacing: 2px;
	letter-spacing: 1px;
}


/* títulos Nosotros */
.nosotros h1 {
    font-size: 32px;
    font-weight: bold;
	color: var(--color-titles);
}

.nosotros h2 {
    font-size: 24px;
    font-weight: bold;
	color: var(--color-subtitles);
}

/* Botón de flecha */

.flecha-btn {
    position: relative; 
    bottom: -20px; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px; 
    color: var(--color-subtitles); 
    text-align: center; 
}