

@font-face {
    font-family: 'Conthrax';
    src: url('../fonts/conthrax-sb.otf');
}
@font-face {
	font-family: 'nulshock bd';
	src: url('../fonts/nulshock\ bd.otf');
}

:root {
	--color-primary: #91CCDB;
	--color-secundary: #ADAAB0;
	--color-text: #EEEFEE;
	--font-text: 'Conthrax'; 
	--font-text2: 'nulshock bd';
	--color-titles: #FF5733;
	--color-subtitles: #4285F4;
}


/* Original */


.bloque{
	text-align: center;
	padding: 100px;
	background-color: var(--color-text);
	min-height: 50vh
}
.submenu{
    display: flex;
    align-items: center;
    justify-content: center;
	font-size: 18px	;
    background-color: var(--color-titles);
    width: 30%;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 70vh;
    margin-bottom: 20px;
    
}
.submenu a{
    text-decoration: none;
    margin: 10px;
    font-family: var(--font-text);
    color:#000;
}

.submenu a:hover{
    color: var(--color-text);
	transition: color 0.4s ease; 
}

/* End Original*/


/*Menu de navegación*/

.headers {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font-text);
	background-color: var(--color-primary);
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.headers h2{
	color: #000;
    margin-left: 45px;
}

.headers img {
    margin-right: 10px; 
}

.enlace_nav {
    margin-left: 25vw;
	
	
}

.enlace_nav a {
    text-decoration: none;
    color: #000; 
	margin-right: 12px;
}

.enlace_nav a:hover {
    color: var(--color-text);
	transition: color 0.4s ease; 
}

enlace_nav strong,
.enlace_nav a[href*="login"]:hover,
.enlace_nav a[href*="registro"]:hover {
    color: var(--color-text); 
    transition: color 0.4s ease; 
}

/* End Menú de navegación */


/* Footer */

footer{
	background-color: var(--color-primary);
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footerh1{
	display: flex;
	font-family: var(--font-text);
	font-size: 12px;
	margin-left: 0px;
	margin-top: 0px;
}

.footerh1 h1{
	padding: 15px;
	color: var(--color-titles);
}

.footers-m{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--font-text);
	margin-top: 0px;
}

.footers-m h3{
	font-size: 16px;
	margin-left: 50px;
	color: var(--color-subtitles);
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.contacto p{
	font-size: 12px;
	margin-left: 50px;

}

.contacto a {
    text-decoration: none;
    color: #000;
    margin-right: 12px;
}

.contacto a:hover {
    color: var(--color-text);
    transition: color 0.4s ease;
}

/* End Footer */

/* Nosotros section */

.nosotros {
    text-align: left;
    padding: 20px;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
	margin-bottom: 30px;
}

.nosotros h1, .nosotros h2 {
    font-family: var(--font-text);
    margin-bottom: 15px;
	letter-spacing: 1px;
}

.nosotros p {
    margin-bottom: 15px;
    font-family: var(--font-text2);
    color: var(--color-text);
	word-spacing: 2px;
	letter-spacing: 1px;
}


/* títulos Nosotros */
.nosotros h1 {
    font-size: 32px;
    font-weight: bold;
	color: var(--color-titles);
}

.nosotros h2 {
    font-size: 24px;
    font-weight: bold;
	color: var(--color-subtitles);
}

/* Botón de flecha */

.flecha-btn {
    position: relative; 
    bottom: -20px; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px; 
    color: var(--color-subtitles); 
    text-align: center; 
}

/* Nosotros section */

/* Home section */

.contenedor-noticias {
    max-width: 800px;
    display: flex;
    flex-direction:row;
    
}    

.noticias{
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
	margin-bottom: 30px;
    margin-left: 100px;
}

.noticias p{
    font-size: 15px;
    font-family: var(--font-text2);
    color: var(--color-text);
}

.noticias h1{
    font-size: 25px;
    font-family: var(--font-text);

}

.noticias h1 a {
    text-decoration: none; 
    color: var(--color-titles); /
   
}

.noticias a{
    text-decoration: none;
    margin: 10px;
    font-family: var(--font-text);
    color:#000;
}
.noticias a:hover{
    color: var(--color-text);
    transition: color 0.4s ease; 
}
.noticias h3{
    font-family: var(--font-text2);
}
.noticias h4{
    font-size: 20px;
}

.noticias h1 a:hover {
    color: var(--color-text);
    transition: color 0.4s ease;
}

.noticias img{
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.widgets{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Horario */

#reloj-widget {
    text-align: center;
    margin-top: 20px;
    font-family: var(--font-text);
    
  }
  
  #reloj-contenedor {
    background-color: var(--color-primary); 
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 100px;
  }
  
  #hora-actual {
    font-family: var(--font-text);
    font-size: 3em;
    font-weight: bold;
    color: #4285F4; 
  }

/* End Horario */

/* End Home Section */



/* Noticias detalle section */

/* Formulario de Comentarios */
.comentario-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.comentario-form textarea {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.comentario-form input[type="submit"] {
    background-color: var(--color-titles);
    color: var(--color-text);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comentario-form input[type="submit"]:hover {
    background-color: var(--color-subtitles);
}

/* Estilo de Comentarios */
.comentarios {
    background-color: var(--color-titles);
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.comentario {
    margin-bottom: 20px;
}

.comentario p {
    font-family: var(--font-text2);
    color: var(--color-text);
}



/* Filtrado de noticias */

.filtro-noticias {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filtro-noticias select {
    padding: 10px;
    font-family: var(--font-text);
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.filtro-noticias button {
    background-color: var(--color-titles);
    color: var(--color-text);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filtro-noticias button:hover {
    background-color: var(--color-subtitles);
}

/* End Filtrado de noticias */
  
