{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOSOTROS{% endblock titulo %}


{% block contenido %}
	<div class="nosotros">

        <h1>¿QUIÉNES SOMOS?</h1>
        <p>Somos Maxi y Braian, dos chicos de 17 años provenientes de Chaco, provincia de Argentina. Nos apasiona explorar el fascinante mundo de la inteligencia artificial y compartir nuestras perspectivas a través de este blog.</p>

        <p>¡Descubre más sobre nuestra historia, nuestras experiencias, cómo la IA ha impactado nuestras vidas y como contactarnos apretando la flecha de aquí abajo!</p>

       
        <a href="#final-de-pagina" class="flecha-btn"><i class="fas fa-arrow-down" class = "flecha-btn"></i></a>



    </div>
	
	<div class= "nosotros">

		<h1>ACERCA DEL BLOG</h1> <br>
		<p>Bienvenido a nuestro blog, donde exploramos las fascinantes intersecciones entre la inteligencia artificial (IA) y diversos aspectos de la vida cotidiana. Desde la salud hasta la tecnología, la educación y más allá, nos sumergimos en las últimas noticias y desarrollos para brindarte una visión profunda de cómo la IA está dando forma al mundo que conocemos.</p>

		<h2>Contenido Variado y Actualizado:</h2>
		<p>Descubre cómo la IA está transformando la atención médica con diagnósticos precisos y medicina personalizada, o cómo redefine la forma en que interactuamos con la tecnología en nuestro día a día. Mantente al tanto de las últimas innovaciones en robótica, automatización y aprendizaje automático, explorando cómo estas tecnologías revolucionan sectores como la industria, la agricultura y el entretenimiento.</p>

		<h2>Entrevistas Exclusivas:</h2>
		<p>Sumérgete en entrevistas exclusivas con expertos en IA y líderes de la industria. Obtén perspectivas únicas sobre los desafíos éticos, el futuro del trabajo en un mundo impulsado por la IA y las posibilidades infinitas que se abren con el avance de esta tecnología.</p>

		<h2>Análisis Profundo:</h2>
		<p>Nuestros análisis profundos desglosan los aspectos técnicos de la IA y su impacto en la sociedad. Desde la ética hasta la ciberseguridad, examinamos los aspectos críticos que rodean a esta revolución tecnológica.</p>

		<h2>Comunidad Interactiva:</h2>
		<p>Únete a nuestra comunidad de entusiastas, desde expertos en tecnología hasta curiosos ávidos de aprender. Participa en debates, comparte tus ideas y descubre cómo la IA está influyendo en las vidas de las personas de todo el mundo.</p>
	
	</div>

	
{% endblock contenido %}

